

<div class='container-fluid'>
	<div class='row'>
		<div class='col-sm-3'></div>
		<div class='col-sm-6'>
			 <div class="panel panel-success">
			 	<div class='panel-heading'>Login </div>
  <div class="panel-body">
<h1>Bug details</h1>
<h1>Title:</h1>
<%= @bugs.title %>
</br>
<h1>Description:</h1>
<%= @bugs.description %>
</br>
<h1>Type</h1>
<%= @bugs.bug_type%>
</br>
<h1>Created_by:</h1>
<%= @created %>
</br>
<h1>Assigned To:</h1>
<%= @assigned %>
</br>
<h1>Deadline</h1>
<%= @bugs.deadline %>
</br>
<h1>Image:</h1>

<%= image_tag @bugs.screenshot , :style => "height: 100px; width: 100px" %></div>
</div>
		</div>
		<div class='col-sm-3'></div>


	</div>
</div>
