


<div class='container-fluid'>
	<div class='row'>
		<div class='col-sm-3'></div>
		<div class='col-sm-6'>
			 <div class="panel panel-success">
			 	<div class='panel-heading'>Project Bugs</div>
  <div class="panel-body">
<table class='table table-bordered'>
	<thead>
		
		<td>Title</td>
		<td>Description</td>
		<td>Type</td>
		<td> Link </td>
	</tr>
		</thead>

		<tbody>
			<% @bugs.each do |u| %>
			<tr>
				<td><%= u.title %></td>
				<td><%= u.description %></td>
				<td><%= u.bug_type %></td>
			 <% url = "/bugs/details/#{u.id}" %>
			 <td><a href=<%= url %>>Details</a> </td>
			</tr>
			<% end %>

		</tbody>
</table>

<% url="/bugs/new/#{@id}" %>
<a href=<%= url %>>Create new Bug</a>
</div>
</div>
		</div>
		<div class='col-sm-3'></div>


	</div>
</div>
